
{%- for action in record_actions %}

        <a class="btn btn-mini" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">
            {%- if action == "show" %}
              <i class="icon-search"></i>
            {%- elseif action == "edit" %}
              <i class="icon-pencil"></i>
            {%- elseif action == "delete" %}
              <i class="icon-remove"></i>
            {%- endif %}
            {{ "{{ 'views.actions."~action~"'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}" }}
        </a>

{%- endfor %}
